DATABASE_HOST=<The database host. Default is localhost>
DATABASE_PORT=<The database connection port. Default is 5432>
DATABASE_USER=<The database user. Default is postgres>
DATABASE_PASSWORD=<The database password. Default is postgres>
DATABASE_NAME=<The name of the database. Default is sw-db>
REDIS_URL=<The url to connect to redis through.>